h1 
{
    color:$mainTextColor;

    font-family: Roboto;
    font-size: 98px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px; /* 100% */
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

